BASEURL=https://demoqa.com
API_BASEURL=https://reqres.in
BROWSER=chrome
APP_USERNAME=your_demoqa_username
PASSWORD=your_demoqa_password
ENV=demoqa
API_KEY=your_reqres_manage_key
NEW_USER_NAME=John Doe
NEW_USER_JOB=QA Engineer
UPDATED_USER_NAME=John Senior QA
